.registration-container {
    width: 50%;
    box-sizing: border-box;
    flex-direction: column;
    color: black;
    background-color: coral;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: flex-end;
    margin-left: 150px;
}


.alert {
    background-color: red;
}

.submit-button {
    background-color: darkturquoise;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
}

.error-axios {
    font-size: 17px;
    color: blue;
}

.registrated{

    font-size: 17px;
    color: blue;
}